/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2018, 10:27:41 AM
    Author     : HEM6MC
*/

body {background-color: aliceblue;}

head {background-color: aliceblue;}

input {width:20em}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}



input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

button{
     padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    
}