<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    
  
    <head>
        <link rel="stylesheet" type="text/css" href="/alapcss.css"/>
        <title>Meresadatbazis fomenu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
     
    <body>
        
       
    

      <div id="content">
            <img id="merlegkep" src="measuretransp.png" alt="" width="320" height="220"/>
            <div>
                <h2>Merolabor adatbazis - Fomenu</h2><br>
                
                    <form action="http://localhost:8080/dolgozo">
            <input type="submit"  value="Dolgozo hozzaadasa" />
        </form>
        <br/>
        <form action="http://localhost:8080/dolgozo/list">
            <input type="submit" value="Dolgozok listaja es torlese" />
        </form>
        <br>
   
        
     
        <form action="http://localhost:8080/meres">
        <input type="submit" value="Meres hozzaadasa" />
        </form>
        <br/>
 
         <form action="http://localhost:8080/meres/list">
        <input type="submit"  value="Meresek listaja es torlese" />
         </form><br/>
      
    
                
            </div>
</div>
    </body>
</html>
