<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Uj meres hozzaadasa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/alapcss.css"/>
    </head>
    <body>
         <div id="content">
            <img id="merlegkep" src="meas.jpg" alt="" width="320" height="220"/>
        <form action="#" th:action="@{/meres}" th:object="${meresModel}" method="post">
            <table>
            <tr>
                <td>Alkatrész cikkszam (6jegyu):</td>
                <td><input type="text" th:field="*{alkatreszszam}"></td>
                <td th:if="${#fields.hasErrors('alkatreszszam')}" th:errors="*{alkatreszszam}"> hiba</td>
            </tr>
                
            <tr>
                <td>Hossz(mm):</td>
                <td><input type="text" th:field="*{hossz}"></td>
                <td th:if="${#fields.hasErrors('hossz')}" th:errors="*{hossz}"> hiba</td>
            </tr>
                
            <tr>
                <td>Suly(g):</td>
                <td><input type="text" th:field="*{suly}"></td>
                <td th:if="${#fields.hasErrors('suly')}" th:errors="*{suly}"> hiba</td>
            </tr>
                
              <tr>
            <td>Dolgozo ID:</td>
            <td><input  type="text" name="editId"></td>
            <td>
            </tr>    
                
   
            <tr>
                <td><button type="submit">Mentes</button> </td>
            </tr>
        </table>
         </div>
    </body>
</html>